<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/memberLayout}"
>

<th:block layout:fragment="title">
    <title>회원가입페이지</title>
</th:block>
<th:block layout:fragment="javascript">
    <!-- index.html만 적용되는 javascript 설정 -->
</th:block>
<th:block  layout:fragment="css">
     <link rel="stylesheet" th:href="@{/css/member/join.css}">
</th:block>
<th:block layout:fragment="container">
<div class="join">
    <div class="join-con">
        <h1 class="title">Sign Up</h1>
        <form th:action="@{/member/join}" method="post" th:object="${memberDto}">
            <ul>
                <li>
                    <label for="userEmail">이메일</label>
                    <input type="text" th:field="*{userEmail}" id="userEmail" placeholder="이메일입력">
                    <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="error"></p>
                </li>
                <li>
                    <label for="userPw">비밀번호</label>
                    <input type="password" th:field="*{userPw}" id="userPw" placeholder="비밀번호입력">
                    <p th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" class="error"></p>
                </li>
                <li>
                    <label for="userName">이름</label>
                    <input type="text" th:field="*{userName}" id="userName" placeholder="이름입력">
                    <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userName}" class="error"></p>
                </li>
                <li>
                    <label for="phone">전화번호</label>
                    <input type="text" name="phone" id="phone" placeholder="전화번호입력">

                </li>
                <li>
                    <label for="addr">주소</label>
                    <input type="text" name="addr" id="addr" placeholder="주소입력">

                </li>
                <li>
                    <input type="reset" value="초기화">
                    <input type="submit" value="회원가입">
                </li>
            </ul>
        </form>
    </div>
</div>
</th:block>
</html>